

html {
	height: 100%;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	padding: 1rem 0;
	background-color: rgba(228, 228, 228, 0.356);

}
.main-container{
	flex: 1;
	display: flex;
	align-items: center;
}

.container {
	height: auto;
	width: 40rem;
	background-color: white;
	border-radius: 16px;
	box-shadow: 4x 4px rgb(179, 177, 177, 8%);
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	align-content: center;
	border: 1px solid rgba(128, 128, 128, 0.308);
	padding: 2rem 3rem !important;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.container .context{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .context>span {
	display: flex;
	justify-content: center;
	font-weight: 800;
	font-size: 30px;
}

.container .context p {
	font-size: 14px;
	text-align: center;
	line-height: 16px;
	margin: 1rem;
}


.container input {
	width: 90%;
	padding: 14px;
    background-color:rgba(183, 183, 228, 0.24) !important;
	border-radius: 8px;
	border-color: rgb(179, 177, 177, 8%);
	margin: 1rem auto;
}

.container input:focus{
	border: 1px solid var(--color-blue);
	outline: none;
}

.container button {
	padding: 14px;
	background-color: var(--color-blue);
	border-radius: 8px;
	width: 90%;
	border: none;
	cursor: pointer;
	color: var(--color-white);
	font-size: 18px;
}


.second-context {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

}

.return {
	text-align: center;
	margin-top: 5rem;
}


a{
	text-decoration: none;
	color: var(--color-blue);
}

.return a {
	color: var(--color-blue);
}

.context i{
	font-size: 48px;
	margin-bottom: 1rem;
}

.message-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 800;
	width: 90%;
}

.message-container .core-message{
    background-color: rgba(255, 0, 0, 0.438);
    flex: 1;
    padding: .5rem;
    border-radius: 5px;

}