@import url('./staff.css');


.invoices{
    display: flex;
    flex-direction: column;
}

.invoices-stats{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.invoice-unique-stat{
    border: 1px solid rgba(128, 128, 128, 0.24);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 5px;

}

.invoice-unique-stat>div{
    width: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.invoice-unique-stat>div>span:first-of-type{
    font-size: 16px;
    font-weight: 700;
}

.invoice-unique-stat>div>span{
    font-size: 24px;
    font-weight: 900;
}


.invoice-table{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.invoices-table-header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
    font-size: 14px !important;
}

.invoice-header-left{
    display: flex;
    gap: 2rem;
}

.invoices-table-header{
    display: flex;
    justify-content: space-between;
}

.invoice-header-left>div{
    padding-bottom: 1rem;
    cursor: pointer;
}

/* .invoice-header-left>div:first-of-type{
   

} */

.selected{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: 900;
}

.invoice-header-right input{
    border:none;
    padding: .5rem;
}

.invoice-header-right input::placeholder{
    text-align: right;
}

.current-invoice-table{
    margin-top: 1rem;
}

.current-invoice-table-header{
    display: flex;
    color: gray;
    font-weight: 800;
}

.current-invoice-table-header>div,
.current-invoice-table-row>div{
    padding: .5rem;
    display: flex;
    align-items: center;
    font-weight: 800;
}


.small-column{
    flex: 1;

}

.big-column{
    flex: 2;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.normal-column{
    flex: 1.5;
    position: relative;
}


.current-invoice-table-row{
    display: flex;
    margin: .5rem 0;
    border-radius: 5px;
    background-color: var(--color-white);
}

.big-column>img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    object-fit: cover;
}

.big-column p{
    margin-bottom: 0 !important;
    width: 7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.normal-column>button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .25rem;
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
}

.change-status-list{
    position: absolute;
    top: 100%;
    background-color: var(--color-white);
    width: 100%;
    padding: .5rem;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.233);
    border-radius: 5px;
    z-index: 999;
    border: 1px solid rgba(128, 128, 128, 0.171);

}

.change-status-list>p{
    padding: .25rem;
    border-radius: 5px;
    cursor: pointer;
}

.change-status-list>p:hover{
    background-color: rgba(128, 128, 128, 0.39);
}

.invoice-header-right input{
    border-radius: 0 !important;
}

.invoice-header-right input:focus{
    border-bottom: 1px solid var(--main-color);
}