html {
	height: 100%;
}
body {
	background-color: green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin-top: 15%;
}
.container {
	height: 320px;
	width: 320px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 4x 4px rgb(179, 177, 177, 8%);
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-content: center;
}
.container .context span {
	display: flex;
	justify-content: center;
	font-weight: 800;
	font-size: 18px;
}
.container .context p {
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.container input {
	width: 280px;
	padding: 14px;
	background-color: rgb(179, 177, 177, 8%);
	border-radius: 8px;
	border-color: rgb(179, 177, 177, 8%);
}
.container button {
	padding: 14px;
	background-color: green;
	border-radius: 8px;
	border-color: green;
	box-shadow: none;
}
.context i {
	height: 40px;
	width: 40px;
	color: yellow;
}
.second-context {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.second-context .create a {
	text-decoration: none;
}
.return {
	text-align: center;
}

.return a {
	color: blue;
	text-decoration: none;
}
