.invoiceDetails{
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}

.left-details{
    display: flex;
    flex-direction: column;
    flex: 2;

}

.right-details{
    flex: 1;
    background-color: var(--color-white);

}

.top-section{
    display: flex;
    justify-content: space-between;
    
}

.top-section-right,
.top-section-left{
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-section img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 5px;

}

.from .profile-container,
.to .profile-container{
    background-color: var(--color-white);
    width: 5rem;
    height: 5rem;
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0 !important;
}

.to,
.from{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color-white);
    padding: 5px 10px;
    border-radius: 10px;
    width: 20rem;
}

.to-details,
.from-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.to-details span:first-of-type,
.from-details span:first-of-type{
    font-size: 20px;
    font-weight: 800;
}

.invoice-section-title{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.top-section i{
    font-size: 24px;
    cursor: pointer;
}

.to-details p,
.from-details p{
    width: 10rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.1;
}

.select-list{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-height: 20rem;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.233);
    position: absolute;
    top: 105%;
    width: 100%;
    padding: 10px;
    gap: 5px;
    overflow-y: auto;
}

.select-list span{
    padding: 5px;

}

.select-list span:hover{
    background-color:  rgba(128, 128, 128, 0.39);
    cursor: pointer;
    border-radius: 5px;
}